/******************************************************************
Site Name: Honey
Author: Vic Lobins

Stylesheet: Typography

******************************************************************/

/*********************
FONTFACE
*********************/

@import "../fonts/Univers/stylesheet.css";
@import "../fonts/Baskerville/stylesheet.css";

// font stacks
$sans-serif:        'Univers', Helvetica, Arial, sans-serif;
$serif:             'Baskerville', Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
$condensed:				'Univers Cond', $sans-serif;