/******************************************************************
Site Name: Honey
Author: Vic Lobins

Stylesheet: IE Stylesheet

Import all the styles the standard stylesheet gets, only
without the media queries.

******************************************************************/
/******************************************************************
IMPORTS & DEPENDENCIES
All the BASE styles are called already since IE can
read those. Below we import the stuff IE can't
understand (what's inside the media queries). We also need to
import the mixins file so SASS can understand the variables.
******************************************************************/
/******************************************************************
Site Name: Honey
Author: Vic Lobins

Stylesheet: Variables

******************************************************************/
/*********************
COLORS
Choosing your colors http://0to255.com/
*********************/
/******************************************************************
Site Name: Honey
Author: Vic Lobins

Stylesheet: Typography

******************************************************************/
/*********************
FONTFACE
*********************/
@import url(../fonts/stylesheet.css);
/******************************************************************
Site Name: Honey
Author: Vic Lobins

Stylesheet: Mixins Stylesheet

Helpful:
http://sachagreif.com/useful-sass-mixins/
http://thesassway.com/intermediate/leveraging-sass-mixins-for-cleaner-code
http://web-design-weekly.com/blog/2013/05/12/handy-sass-mixins/

******************************************************************/
/*********************
TRANSITION
*********************/
/* @include transition(all 0.2s ease-in-out); */
/*********************
CSS3 GRADIENTS
*********************/
/* @include css-gradient(#dfdfdf,#f8f8f8); */
/*********************
BOX SIZING
*********************/
/* @include box-sizing(border-box); */
/*********************
VENDOR
*********************/
/*
.selector {
  @include prefix(transform, rotate(45deg), webkit ms);
}
*/
/*********************
CSS ANIMATIONS
*********************/
/*
@include keyframes(move-the-object) {
  0%   { left: 100px; }
  100% { left: 200px; }
}
*/
/*********************
BOX SHADOW
*********************/
/*********************
PLACEHOLDER
*********************/
/*
.foo {
  @include placeholder {
    color: green;
  }
}

@include placeholder {
  color: red;
}
*/
/******************************************************************
Site Name: Honey
Author: Vic Lobins

Stylesheet: IE Grid Styles

******************************************************************/
/******************************************************************
Site Name: Honey
Author: Vic Lobins

Stylesheet: 481px and Up Stylesheet

******************************************************************/
/*********************
GENERAL STYLES
*********************/
html {
  font-size: 13px; }

/*********************
POSTS & CONTENT STYLES
*********************/
/* entry content */
.entry-content .alignleft, .entry-content img.alignleft {
  margin-right: 1.5em;
  display: inline;
  float: left; }
.entry-content .alignright, .entry-content img.alignright {
  margin-left: 1.5em;
  display: inline;
  float: right; }
.entry-content .aligncenter, .entry-content img.aligncenter {
  margin-right: auto;
  margin-left: auto;
  display: block;
  clear: both; }

/* end .entry-content */
/*********************
FOOTER STYLES
*********************/
/* end .footer-links */
/*********************
SLIDER STYLES
*********************/
div#n2-ss-2-align .nextend-thumbnail-default,
div#n2-ss-2-align .nextend-thumbnail-inner,
div#n2-ss-3-align .nextend-thumbnail-default,
div#n2-ss-3-align .nextend-thumbnail-inner {
  bottom: 1rem !important; }
  div#n2-ss-2-align .nextend-thumbnail-default .nextend-thumbnail-scroller-group > div,
  div#n2-ss-2-align .nextend-thumbnail-inner .nextend-thumbnail-scroller-group > div,
  div#n2-ss-3-align .nextend-thumbnail-default .nextend-thumbnail-scroller-group > div,
  div#n2-ss-3-align .nextend-thumbnail-inner .nextend-thumbnail-scroller-group > div {
    height: 4rem !important; }

/******************************************************************
Site Name: Honey
Author: Vic Lobins

Stylesheet: Tablet & Small Desktop Stylesheet

******************************************************************/
/*********************
GENERAL STYLES
*********************/
html {
  font-size: 14px; }

/*********************
FONT STYLES
*********************/
p, .p {
  font-size: 1.25em; }

/*********************
HEADER STYLES
*********************/
.header {
  position: relative;
  font-size: 0.8rem; }

#inner-header {
  position: relative; }

.logo {
  width: 90%;
  padding: 1.75rem 0 1.25rem; }

.searchbox {
  width: 100%;
  max-width: 15rem;
  right: 3.25rem; }
  .searchbox #ajaxsearchlite1,
  .searchbox div.asl_w {
    border: 2px solid #b5b5b5; }
    .searchbox #ajaxsearchlite1 .probox,
    .searchbox div.asl_w .probox {
      height: 2rem; }
      .searchbox #ajaxsearchlite1 .probox .proinput input,
      .searchbox div.asl_w .probox .proinput input {
        font-size: .85rem;
        height: 2rem;
        text-shadow: none; }
        .searchbox #ajaxsearchlite1 .probox .proinput input.autocomplete,
        .searchbox div.asl_w .probox .proinput input.autocomplete {
          opacity: 0; }
      .searchbox #ajaxsearchlite1 .probox .promagnifier .innericon svg,
      .searchbox #ajaxsearchlite1 .probox .prosettings .innericon svg,
      .searchbox #ajaxsearchlite1 .probox .proloading svg,
      .searchbox div.asl_w .probox .promagnifier .innericon svg,
      .searchbox div.asl_w .probox .prosettings .innericon svg,
      .searchbox div.asl_w .probox .proloading svg {
        width: 18px; }

/*********************
NAVIGATION STYLES
*********************/
.menu-button {
  display: none; }

.nav .menu-item {
  display: inline-block; }
  .nav .menu-item a {
    text-decoration: none; }

.search-box {
  display: inline-block;
  vertical-align: middle;
  margin-right: 1em; }
  .search-box #s {
    background: none;
    color: #fff;
    border-bottom: 1px solid #fff;
    border-left: none;
    border-top: none;
    border-right: none;
    outline: none;
    padding: 0;
    width: 190px;
    font-size: 0.675rem; }
    .search-box #s::-webkit-input-placeholder {
      color: #fff; }
    .search-box #s:-moz-placeholder {
      color: #fff; }
    .search-box #s::-moz-placeholder {
      color: #fff; }
    .search-box #s:-ms-input-placeholder {
      color: #fff; }
  .search-box button {
    top: 1px;
    left: -2px;
    position: relative;
    border: none;
    outline: none;
    background: none;
    padding: 0;
    color: #fff; }

.primary-nav {
  position: relative;
  display: inline-block;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
  font-family: "Univers", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-size: .9rem;
  margin: 0;
  /* end .menu li */
  /* highlight current page */ }
  .primary-nav > li {
    position: relative;
    border: none;
    padding: 1rem 1.5rem 1.5rem;
    line-height: 1.2;
    margin: 0;
    vertical-align: middle;
    color: #766e63; }
    .primary-nav > li.menu-item-1007, .primary-nav > li.menu-item-579 {
      color: #a8a197; }
    .primary-nav > li.separator, .primary-nav > li.separator > a {
      display: block;
      cursor: default; }
    .primary-nav > li > a {
      color: inherit;
      outline: none; }
      .primary-nav > li > a br {
        display: block; }
      .primary-nav > li > a:hover, .primary-nav > li > a:focus {
        color: #4b858e; }
    .primary-nav > li:hover > ul.sub-menu,
    .primary-nav > li:hover > ul.children, .primary-nav > li:focus > ul.sub-menu,
    .primary-nav > li:focus > ul.children, .primary-nav > li.active > ul.sub-menu,
    .primary-nav > li.active > ul.children {
      opacity: 1;
      visibility: visible; }
    .primary-nav > li:after {
      position: absolute;
      background: none;
      width: 100%;
      height: 1rem;
      bottom: -0.5rem;
      left: 0; }
    .primary-nav > li > ul.sub-menu,
    .primary-nav > li > ul.children {
      width: 375px;
      width: 22vw; }
      .primary-nav > li > ul.sub-menu:before, .primary-nav > li > ul.sub-menu:after,
      .primary-nav > li > ul.children:before,
      .primary-nav > li > ul.children:after {
        content: '';
        position: absolute;
        background: #cbc3bb;
        height: 100%;
        top: 0; }
      .primary-nav > li > ul.sub-menu:before,
      .primary-nav > li > ul.children:before {
        left: -299%;
        width: 300%; }
      .primary-nav > li > ul.sub-menu:after,
      .primary-nav > li > ul.children:after {
        right: -999%;
        width: 1000%; }
    .primary-nav > li ul.sub-menu,
    .primary-nav > li ul.children {
      position: absolute;
      top: 3.5rem;
      left: 0;
      height: 16rem;
      overflow: visible;
      background: #cbc3bb;
      opacity: 0;
      visibility: hidden;
      text-align: left;
      padding: 1rem 0;
      margin: 0;
      z-index: 8;
      -webkit-transition: all 0.4s ease-out;
      transition: all 0.4s ease-out;
      /* highlight sub-menu current page */ }
      .primary-nav > li ul.sub-menu li,
      .primary-nav > li ul.children li {
        vertical-align: middle;
        display: block;
        padding: 1rem 1.5rem;
        color: #766e63; }
        .primary-nav > li ul.sub-menu li a,
        .primary-nav > li ul.children li a {
          color: inherit; }
          .primary-nav > li ul.sub-menu li a:hover, .primary-nav > li ul.sub-menu li a:focus,
          .primary-nav > li ul.children li a:hover,
          .primary-nav > li ul.children li a:focus {
            color: #53575a; }
        .primary-nav > li ul.sub-menu li.menu-item-has-children > a:after,
        .primary-nav > li ul.children li.menu-item-has-children > a:after {
          content: '';
          width: 6px;
          height: 10px;
          display: inline-block;
          margin-left: 9px;
          background: url(../images/arrow-right.png) no-repeat center;
          background-size: 7px; }
      .primary-nav > li ul.sub-menu > li > ul.sub-menu,
      .primary-nav > li ul.sub-menu > li > ul.children,
      .primary-nav > li ul.children > li > ul.sub-menu,
      .primary-nav > li ul.children > li > ul.children {
        width: 290px;
        width: 17vw;
        background: #e0dbd6; }
        .primary-nav > li ul.sub-menu > li > ul.sub-menu:after,
        .primary-nav > li ul.sub-menu > li > ul.children:after,
        .primary-nav > li ul.children > li > ul.sub-menu:after,
        .primary-nav > li ul.children > li > ul.children:after {
          content: '';
          position: absolute;
          background: #e0dbd6;
          height: 100%;
          top: 0;
          right: -999%;
          width: 1000%; }
      .primary-nav > li ul.sub-menu > li ul.sub-menu,
      .primary-nav > li ul.sub-menu > li ul.children,
      .primary-nav > li ul.children > li ul.sub-menu,
      .primary-nav > li ul.children > li ul.children {
        top: 0;
        left: 100%; }
        .primary-nav > li ul.sub-menu > li ul.sub-menu ul.sub-menu,
        .primary-nav > li ul.sub-menu > li ul.sub-menu ul.children,
        .primary-nav > li ul.sub-menu > li ul.children ul.sub-menu,
        .primary-nav > li ul.sub-menu > li ul.children ul.children,
        .primary-nav > li ul.children > li ul.sub-menu ul.sub-menu,
        .primary-nav > li ul.children > li ul.sub-menu ul.children,
        .primary-nav > li ul.children > li ul.children ul.sub-menu,
        .primary-nav > li ul.children > li ul.children ul.children {
          clear: both;
          width: 546px;
          width: 32vw;
          font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
          text-transform: none;
          background: #f5f3f1; }
          .primary-nav > li ul.sub-menu > li ul.sub-menu ul.sub-menu li,
          .primary-nav > li ul.sub-menu > li ul.sub-menu ul.children li,
          .primary-nav > li ul.sub-menu > li ul.children ul.sub-menu li,
          .primary-nav > li ul.sub-menu > li ul.children ul.children li,
          .primary-nav > li ul.children > li ul.sub-menu ul.sub-menu li,
          .primary-nav > li ul.children > li ul.sub-menu ul.children li,
          .primary-nav > li ul.children > li ul.children ul.sub-menu li,
          .primary-nav > li ul.children > li ul.children ul.children li {
            float: left;
            display: inline;
            width: 45%;
            font-size: 1.2rem;
            padding: .78rem 1.7rem; }
          .primary-nav > li ul.sub-menu > li ul.sub-menu ul.sub-menu:after,
          .primary-nav > li ul.sub-menu > li ul.sub-menu ul.children:after,
          .primary-nav > li ul.sub-menu > li ul.children ul.sub-menu:after,
          .primary-nav > li ul.sub-menu > li ul.children ul.children:after,
          .primary-nav > li ul.children > li ul.sub-menu ul.sub-menu:after,
          .primary-nav > li ul.children > li ul.sub-menu ul.children:after,
          .primary-nav > li ul.children > li ul.children ul.sub-menu:after,
          .primary-nav > li ul.children > li ul.children ul.children:after {
            content: '';
            position: absolute;
            background: #f5f3f1;
            height: 100%;
            top: 0;
            right: -999%;
            width: 1000%; }
      .primary-nav > li ul.sub-menu > li:hover > ul.sub-menu,
      .primary-nav > li ul.sub-menu > li:hover > ul.children, .primary-nav > li ul.sub-menu > li:focus > ul.sub-menu,
      .primary-nav > li ul.sub-menu > li:focus > ul.children,
      .primary-nav > li ul.children > li:hover > ul.sub-menu,
      .primary-nav > li ul.children > li:hover > ul.children,
      .primary-nav > li ul.children > li:focus > ul.sub-menu,
      .primary-nav > li ul.children > li:focus > ul.children {
        opacity: 1;
        visibility: visible; }

.socket {
  display: block; }
  .socket .socket-nav {
    padding: .7rem 0; }
  .socket .menu-item {
    display: block; }

.mobile-links {
  display: none !important; }

/*********************
POSTS & CONTENT STYLES
*********************/
.featured-image {
  width: 100%;
  margin-left: auto; }

.page-title {
  font-size: 1rem; }

.entry-content {
  padding: 3rem;
  font-size: 1rem; }
  .entry-content ul.col-2 {
    padding: 0; }
    .entry-content ul.col-2 li {
      width: 48%;
      display: inline-block; }

/*********************
LAYOUT & GRID STYLES
*********************/
.wrap > div {
  max-width: 760px; }

.flex {
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row; }
  .flex .flex-panel {
    width: 33.333%; }

.gallery.gallery-columns-2 .gallery-item {
  width: 50%; }

/*********************
SIDEBARS & ASIDES
*********************/
.widgettitle {
  border-bottom: 2px solid #142128;
  margin-bottom: 0.75em; }

.widget {
  padding: 0 10px;
  margin: 2.2em 0; }
  .widget ul li {
    margin-bottom: 0.75em; }
    .widget ul li ul {
      margin-top: 0.75em;
      padding-left: 1em; }

/*********************
FOOTER STYLES
*********************/
/******************************************************************
Site Name: Honey
Author: Vic Lobins

Stylesheet: Desktop Stylsheet

******************************************************************/
html {
  font-size: 16px; }

.wrap > div {
  max-width: 930px; }

/******************************************************************
ADDITIONAL IE FIXES
For more info on using Modernizr classes:
http://www.modernizr.com/docs/
******************************************************************/
/*
For example:

.no-textshadow .class { ... }

Can also target specific versions by using the classes applied to
the html element. Check header.php file to see what they are:

.lt-ie8 .class { ... }

*/
