/******************************************************************
Site Name: Honey
Author: Vic Lobins

Stylesheet: Desktop Stylsheet

******************************************************************/

html {
	font-size: 16px;
}

.wrap {
	> div {
		max-width: 930px;
	}
}

.featured-copy {
	width: 30%;
}

.module {
	&.module-outdoor-living-shop,
	&.module-glossary,
	&.module-design-a-fireplace {
		> .cf {
			padding-top: 40%;
		}
	}
}