/******************************************************************
Site Name: Honey
Author: Vic Lobins

Stylesheet: Super Large Monitor Stylesheet

******************************************************************/

html {
	font-size: 17px;
}

img {
	height: auto;
	pointer-events: none;
	
	&.size-folio-portrait,
	&.size-full {
		&.col-6 {
			width: 50%;
			margin-bottom: 0 !important;
		}
	}
}

.entry-content:not(.full) {
	> div {
		max-width: 1400px;
	}
	
	&.image-column > div {
		max-width: calc(1400px - 2rem);
	}
}

.wrap {
	> div {
		max-width: 1080px;
	}
}

.row {
	&.image-column {
		> .cf {
			@include prefix(flex-direction, row, webkit moz ms);
		}
		
		&.column-8-4 {
			.col-6:first-child {
				width: 66.666%;
				padding: 0;
			}
			
			.col-6:last-child {
				width: 33.333%;
				padding: 2.5rem;
			}
		}
		
		&.column-4-8 {
			.col-6:first-child {
				width: 33.333%;
				padding: 2.5rem;
			}
			
			.col-6:last-child {
				width: 66.666%;
				padding: 0;
			}
		}
	}
}

.blog-wrapper {	
	.blog-module {
		padding: 7.5% 0;
		
		p {
			width: 70%;
		}
	}
	
	.col-4 {
		width: 27.333%;
		
		&.post-item-1 {
			margin-left: 9%;
		}
		
		&.post-item-3 {
			margin-right: 9%;
		}
	}
	
	.text {
		float: right;
		width: 42%;
	}
	
	.thumb {
		float: left;
		width: 58%;
	}
}

.black-box {
	padding: 3rem;
}