/******************************************************************
Site Name: Honey
Author: Vic Lobins

Stylesheet: Super Large Monitor Stylesheet

******************************************************************/

html {
	font-size: 17px;
}

.entry-content:not(.full) {
	> div {
		max-width: 1400px;
	}
}

.wrap {
	> div {
		max-width: 1080px;
	}
}