/******************************************************************
Site Name: Honey
Author: Vic Lobins

Stylesheet: Tablet & Small Desktop Stylesheet

******************************************************************/

/*********************
GENERAL STYLES
*********************/

html {
	font-size: 14px;
}

body {
}


/*********************
FONT STYLES
*********************/

p, .p {
	font-size: 1.15em;
}

/*********************
HEADER STYLES
*********************/

.header {
	position: relative;
	font-size: 0.8rem;
}

#inner-header {
	position: relative;
}

.logo {
	top: 0;
	left: 0;
	width: 16rem;
}

/*********************
NAVIGATION STYLES
*********************/

.menu-button {
	display: none;
}

.nav {
	.menu-item {
		display: inline-block;
		
		a {
			text-decoration: none;
		}
	}
}

.search-box {
	display: inline-block;
	vertical-align: middle;
	margin-right: 1em;
	
	#s {
		background: none;
		color: $white;
		border-bottom: 1px solid $white;
		border-left: none;
		border-top: none;
		border-right: none;
		outline: none;
		padding: 0;
		width: 190px;
		font-size: 0.675rem;
		
		@include placeholder {
			color: $white;
		}
	}
	
	button {
		top: 1px;
		left: -2px;
		position: relative;
		border: none;
		outline: none;
		background: none;
		padding: 0;
		color: $white;
	}
}

.primary-nav {
}

.mobile-links {
	display: none !important;
}


/*********************
POSTS & CONTENT STYLES
*********************/

#content {
}

.featured-image {
	width: 100%;
    margin-left: auto;
}

.page-title {
	font-size: 1rem;
}

.entry-content {
	padding: 3rem;
	font-size: 1rem;
	
	ul {
		&.col-2 {
			padding: 0;
			
			li {
				width: 48%;
				display: inline-block;
			}
		}
	}
}


/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	> div {
		max-width: 760px;
	}
}

.flex {
	@include prefix(flex-direction, row, webkit ms);
	
	.flex-panel {
		width: 33.333%;
	}
}

.gallery {
	&.gallery-columns-2 {
		.gallery-item {
			width: 50%;
		}
	}
}

/*********************
SIDEBARS & ASIDES
*********************/

.sidebar {
	margin-top: 2.2em;
}

.widgettitle {
	border-bottom: 2px solid #444;
	margin-bottom: 0.75em;
}

.widget {
	padding: 0 10px;
	margin: 2.2em 0;

	ul {
		li {
			margin-bottom: 0.75em;

			ul {
				margin-top: 0.75em;
				padding-left: 1em;
			}
		}
	}
}


/*********************
FOOTER STYLES
*********************/

.footer {
	padding: 2.5rem 4rem;
}

.footer-nav {
	float: left;
	
	h4 {
		text-transform: uppercase;
		font-family: $sans-serif;
	}
}

.footer-links {
	margin: 0;
	
	.nav {
		.menu-item {
			margin: 0 10px;
			font-size: 1rem;
			display: block;
		}
	}
}

.copyright {
	float: right;
	text-align: left;
	font-size: 1rem;
}