/******************************************************************
Site Name: Honey
Author: Vic Lobins

Stylesheet: Tablet & Small Desktop Stylesheet

******************************************************************/

/*********************
GENERAL STYLES
*********************/

html {
	font-size: 14px;
}

body {
	&:not(.home) #content {
		margin-top: 0;
	}
}


/*********************
FONT STYLES
*********************/

p, .p {
	font-size: 1.15em;
}

/*********************
HEADER STYLES
*********************/

.header {
	position: relative;
	font-size: 0.8rem;
}

#inner-header {
	position: relative;
}

.logo {
	top: 0;
	left: 0;
	width: 16rem;
	margin: 1.5rem 2rem;
}

/*********************
NAVIGATION STYLES
*********************/

.menu-button {
	display: none;
}

.nav {
	.menu-item {
		display: inline-block;
		
		a {
			text-decoration: none;
		}
	}
}

.search-box {
	display: inline-block;
	vertical-align: middle;
	margin-right: 1em;
	
	#s {
		background: none;
		color: $white;
		border-bottom: 1px solid $white;
		border-left: none;
		border-top: none;
		border-right: none;
		outline: none;
		padding: 0;
		width: 190px;
		font-size: 0.675rem;
		
		@include placeholder {
			color: $white;
		}
	}
	
	button {
		top: 1px;
		left: -2px;
		position: relative;
		border: none;
		outline: none;
		background: none;
		padding: 0;
		color: $white;
	}
}

.primary-nav {
	position: relative;
	max-height: none;
	background: none;
	overflow: visible;
	text-align: right;

	> li {
		border: none;
		padding: 0;
		vertical-align: top;
		
		> a {
			color: $blue;
			outline: none;
			padding: 1.5rem 2em;
			font-size: 0.9em;
			border: none;
			height: 5.25rem;
			
			br {
				display: block;
			}
			
			&:hover,
			&:focus {
				color: $orange;
				
				.home & {
					color: $white;
				}
			}
			
			&.active {
				color: $gray;
				border-color: $blue !important;
			}
		}

		ul.sub-menu,
		ul.children {
			position: absolute;
			overflow: visible;
			background: rgba($blue, .9);
			opacity: 0;
			visibility: hidden;
			margin: 0;
			padding: 1.4rem 0 1rem 2.5rem;
			text-align: left;
			font-size: 0;
			z-index: 8;
			@include transition (all 1s ease-out);
			
			&.active {
				opacity: 1;
				visibility: visible;
			}

			li {
				vertical-align: middle;
				text-align: left;
				display: inline-block;
				padding: 0 1rem;
				border: none;

				a {
					color: $white;
					font-weight: bold;
					font-size: 0.625rem;
					display: inline;
    				padding: 0;
					border: none;
					
					&:hover,
					&:focus {
						text-decoration: underline;
						text-decoration-style: dotted;
					}
				}

			}
			
			/* highlight sub-menu current page */
			li.current-menu-item,
			li.current_page_item,
			li.current_page_ancestor {
				a {}
			}
		}

	} /* end .menu li */

	/* highlight current page */
	> li.current_page_item,
	> li.current-menu-ancestor,
	> li.current-menu-item,
	> li.current_page_ancestor {
		> a {
			&:after {
				content: '';
				position: absolute;
				bottom: 1rem;
				left: 2em;
				width: calc(100% - 4em);
				height: 4px;
				background: $orange;
			}
		}
	}
}

.mobile-links {
	display: none !important;
}


/*********************
POSTS & CONTENT STYLES
*********************/

#content {
	.home & {
		margin-top: -89px;
	}
}

.featured-image {
	width: 100%;
    margin-left: auto;
}

.page-title {
	font-size: 1rem;
}

.entry-content {
	padding: 3rem;
	font-size: 1rem;
	
	ul {
		&.col-2 {
			padding: 0;
			
			li {
				width: 48%;
				display: inline-block;
			}
		}
	}
}

.home {
	.row-1 {
		.col-6 {
			&:last-child {
				width: 41.66%;
				float: right;
			}
		}
	}
}


/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	> div {
		width: 760px;
	}
}

.flex {
	@include prefix(flex-direction, row, webkit ms);
	
	.flex-panel {
		width: 33.333%;
	}
}

.gallery {
	&.gallery-columns-2 {
		.gallery-item {
			width: 50%;
		}
	}
}

/*********************
SIDEBARS & ASIDES
*********************/

.sidebar {
	margin-top: 2.2em;
}

.widgettitle {
	border-bottom: 2px solid #444;
	margin-bottom: 0.75em;
}

.widget {
	padding: 0 10px;
	margin: 2.2em 0;

	ul {
		li {
			margin-bottom: 0.75em;

			ul {
				margin-top: 0.75em;
				padding-left: 1em;
			}
		}
	}
}


/*********************
FOOTER STYLES
*********************/

.footer {
	padding: 2.5rem 4rem;
}

.footer-links {
	float: right;
	margin: 0;
	
	ul {
		li {
			margin: 0 10px;
			font-size: 1rem;
		}
	}
}

.copyright {
	text-align: left;
	font-size: 1rem;
}


/*********************
CALENDAR
*********************/

.entry-content .wpsbc-container .wpsbc-calendars-wrapper {	
	.wpsbc-calendar {
		width: calc(50% - 10px);
		float: left;
		margin-left: 5px;
		margin-right: 5px;
		
		.wpsbc-calendar-header {
			.wpsbc-calendar-header-navigation {
				.wpsbc-next, .wpsbc-prev {
					top: 50%;
				}
				
				.wpsbc-prev {
					left: -3rem;
				}
				
				.wpsbc-next {
					right: -3rem;
				}
			}
		}
	}
	
	.wpsbc-legend {
		transform: scale(1.2);
		transform-origin: left;
	}
}

/*********************
SLIDER STYLES
*********************/

div#n2-ss-2-align,
div#n2-ss-3-align {
	.nextend-thumbnail-default,
	.nextend-thumbnail-inner {
		bottom: 1rem !important;
		
		.nextend-thumbnail-scroller-group {	
			> div {
				height: 5rem !important;
			}
		}
	}
}