/******************************************************************
Site Name: Honey
Author: Vic Lobins

Stylesheet: Tablet & Small Desktop Stylesheet

******************************************************************/

/*********************
GENERAL STYLES
*********************/

html {
	font-size: 14px;
}

body {
}

.vidbg-container {
	padding-bottom: 56%;
}

.hover-link + p {
	top: auto;
	bottom: 0;
}

/*********************
FONT STYLES
*********************/

p, .p {
	font-size: 1.25em;
}

.copy-xxl {
	font-size: 200% !important;
}

/*********************
HEADER STYLES
*********************/

.header {
	position: relative;
	font-size: 0.8rem;
}

#inner-header {
	position: relative;
}

.logo {
	width: 90%;
	padding: 1.75rem 0 1.25rem;
}

.searchbox {
	width: 100%;
	max-width: 15rem;
	right: 3.25rem;
	
	&:hover, &:focus {
		border: none;
    	max-width: 15rem;
	}
	
	#ajaxsearchlite1,
	div.asl_w {
		border: 2px solid #b5b5b5;
		
		.probox .proinput input {
			opacity: 1;
		}
	}
}

/*********************
NAVIGATION STYLES
*********************/

.menu-button {
	display: none;
}

.nav {
	.menu-item {
		display: inline-block;
		
		a {
			text-decoration: none;
		}
	}
}

.search-box {
	display: inline-block;
	vertical-align: middle;
	margin-right: 1em;
	
	#s {
		background: none;
		color: $white;
		border-bottom: 1px solid $white;
		border-left: none;
		border-top: none;
		border-right: none;
		outline: none;
		padding: 0;
		width: 190px;
		font-size: 0.675rem;
		
		@include placeholder {
			color: $white;
		}
	}
	
	button {
		top: 1px;
		left: -2px;
		position: relative;
		border: none;
		outline: none;
		background: none;
		padding: 0;
		color: $white;
	}
}

.primary-nav {
	position: relative;
	width: auto;
	left: 50%;
	transform: translate(-50%, 0);
	text-align: center;
	font-size: .9rem;
	margin: 0;
	max-height: none;
	overflow: visible;
	
	li {
		border-bottom: none;
	}

	> li {
		border: none;
		padding: 1rem 1.5rem 1.5rem;
		
		&.separator,
		&.separator > a {
			display: inline-block;
			cursor: default;
		}
		
		a {
			padding: 0 !important;
		}
		
		> a {
			&:hover,
			&:focus {
				color: $teal;
			}
			
			&:after {
				content: none !important;
				display: none !important;
			}
		}
		
		&:hover,
		&:focus,
		&.active {
			> ul.sub-menu,
			> ul.children {
				opacity: 1;
				visibility: visible
			}
		}
		
		&:after {
//			content: '';
			position: absolute;
			background: none;
			width: 100%;
			height: 1rem;
			bottom: -0.5rem;
			left: 0;
		}
		
		> ul.sub-menu,
		> ul.children {
			width: 375px;
    		width: 22vw;
			
			&:before, &:after {
				content: '';
				position: absolute;
				background: $brown;
				height: 100%;
				top: 0;
			}
			
			&:before {
				left: -299%;
				width: 300%;
			}
			
			&:after {
				right: -999%;
				width: 1000%;
			}
		}

		ul.sub-menu,
		ul.children {
			position: absolute;
			top: 3.5rem;
			left: 0;
			height: 16rem;
			overflow: visible;
			opacity: 0;
			text-align: left;
			max-height: none;
			padding: 1rem 0;

			li {
				padding: 1rem 1.5rem;
				
				&.menu-item-has-children {
					> a:after {
						content: '';
						width: 6px;
						height: 10px;
						display: inline-block;
						margin-left: 9px;
						background: url(../images/arrow-right.png) no-repeat center;
						background-size: 7px;
					}
				}

			}
			
			> li {
				> ul.sub-menu,
				> ul.children {
					width: 290px;
					width: 17vw;
					
					&:after {
						content: '';
						position: absolute;
						background: $mid-brown;
						height: 100%;
						top: 0;
						right: -999%;
						width: 1000%;
					}
				}
				
				ul.sub-menu,
				ul.children {
					top: 0;
    				left: 100%;
					
					ul.sub-menu,
					ul.children {
						clear: both;
						width: 546px;
						width: 32vw;
						font-family: $serif;
						text-transform: none;
						background: $light-brown;
						
						li {
							float:left;
 							display:inline;
							width: 45%;
							font-size: 1.2rem;
							padding: .78rem 1.7rem;
						}
						
						&:after {
							content: '';
							position: absolute;
							background: $light-brown;
							height: 100%;
							top: 0;
							right: -999%;
							width: 1000%;
						}
					}
				}
				
				&:hover,
				&:focus {
					> ul.sub-menu,
					> ul.children {
						opacity: 1;
						visibility: visible
					}
				}
			}
			
			/* highlight sub-menu current page */
			li.current-menu-item,
			li.current_page_item,
			li.current_page_ancestor {
				a {}
			}
		}

	} /* end .menu li */

	/* highlight current page */
	> li.current_page_item,
	> li.current-menu-ancestor,
	> li.current-menu-item,
	> li.current_page_ancestor {
		> a {
			
		}
	}
}

.socket {
	display: block;
	
	.socket-nav {
		padding: .7rem 0;
	}
	
	.rhs-links {
		position: absolute;
		right: 2rem;
		top: .7rem;
		text-align: left;
    	padding: 0;
	}
}

.mobile-links {
	display: none !important;
}

.menu-breadcrumb {
	display: block;
	text-transform: uppercase;
	font-family: $sans-serif;
	font-size: .85em;
	padding: 1rem;
	width: 90%;
	max-width: 1400px;
	margin: .85em auto;
}


/*********************
POSTS & CONTENT STYLES
*********************/

.featured-image {
	width: 100%;
    margin-left: auto;
}

.page-title {
	font-size: 1rem;
}

.entry-content {
	padding: 3rem;
	font-size: 1rem;
	
	ul {
		&.col-2 {
			padding: 0;
			
			li {
				width: 48%;
				display: inline-block;
			}
		}
	}
}

.featured {
	&.top {
		padding-top: 0;
		padding-bottom: 0;
	}
	
	> div {
		padding: 0 1rem;
	}
}

.featured-copy {
	position: absolute;
	top: 2.5rem;
	left: 3rem;
	padding: 2rem;
	width: 30%;
}

.spares-thumbs {
	.wp-caption {
		width: 31% !important;
		margin-right: 3.5%;
		margin-bottom: 0;
		float: left;

		&:last-child {
			margin-right: 0;
		}
	}
}

.module {
	&.module-outdoor-living-shop,
	&.module-glossary,
	&.module-design-a-fireplace {
		> .cf {
			height: 0;
			padding-top: 40%;
			margin-bottom: 0;
		}
	}
	
	&.module-sign-up,
	&.module-need-help {
		padding-top: 5%;
		padding-bottom: 5%;
	}
	
	&.module-ctas,
	&.module-outdoor-ctas,
	&.module-outdoor-ctas-2 {
		p {
			display: -webkit-box;
			display: -ms-flexbox;
			display: -webkit-flex;
			display: flex;
			@include prefix(justify-content, space-evenly, webkit ms);
			@include prefix(align-items, center, webkit ms);
		}
	}
}

/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	> div {
		max-width: 760px;
	}
}

.flex {
	@include prefix(flex-direction, row, webkit ms);
	
	.flex-panel {
		width: 33.333%;
	}
}

.gallery {
	&.gallery-columns-2 {
		.gallery-item {
			width: 50%;
		}
	}
}

.blog-wrapper {	
	.blog-module {
		padding: 7.5% 0;
		
		p {
			width: 70%;
		}
	}
	
	.col-4 {
		padding-bottom: 2.5rem;
		width: 27.333%;
		
		&.post-item-1 {
			margin-left: 9%;
		}
		
		&.post-item-3 {
			margin-right: 9%;
		}
	}
}

.row {
	&.folio-module {
		.folio-item {
			.text {
				height: 9rem;
			}
		}
	}
	
	&.image-column {
		&.column-8-4 {
			.col-6:first-child {
				width: 66.666%;
				padding: 0;
			}
			
			.col-6:last-child {
				width: 33.333%;
				padding: 2.5rem;
			}
		}
		
		&.column-4-8 {
			.col-6:first-child {
				width: 33.333%;
				padding: 2.5rem;
			}
			
			.col-6:last-child {
				width: 66.666%;
				padding: 0;
			}
		}
	}
	
	&.post-content {
		background: $light-brown;
	}
	
	&.outdoor-product-single {
		padding: 1rem 1.5rem;
	}
}

.woocommerce {
	.spares-product {
		padding-top: 1rem;
		
		.product_title {
			float: left;
			width: 33%;
		}
		
		.woocommerce-product-gallery__image {
			float: right;
			width: 66%;
		}
	}
	
	table.shop_table {
		&.woocommerce-cart-form__contents {
			td:first-child {
				width: 3rem;
			}
		}
	}
}

.equal-height {
	.col-6 {
		border: 1.5rem solid $white;
		
		img {
			margin-top: 3rem !important;

			&:first-child { margin-top: 0 !important; }
		}
	}
}

/*********************
SIDEBARS & ASIDES
*********************/

.widgettitle {
	border-bottom: 2px solid $text-color;
	margin-bottom: 0.75em;
}

.widget {
	padding: 0 10px;
	margin: 2.2em 0;

	ul {
		li {
			margin-bottom: 0.75em;

			ul {
				margin-top: 0.75em;
				padding-left: 1em;
			}
		}
	}
}


/*********************
FOOTER STYLES
*********************/

.footer {
	padding: 2rem 4rem;
}